// Base Sizes
$base-size: 16px;
$desktop-size: 20px;

// Background/Foreground
$base-background-color: $mine-shaft;
$base-color: $white;
$content-background-color: $alabaster;
$content-color: $mine-shaft;
$link-color: $azure-radiance;
$hover-link-color: $indigo;
$active-link-color: $pomegranate;

// Fonts
$base-font-family: Helvetica, Arial, sans-serif;

// Forms
$button-background-color: $azure-radiance;
$button-hover-background-color: $indigo;
$button-color: $white;

// Misc
$border: 1px solid $black;
$border-radius: 0.25rem;
